---
import styles from "./PolitiqueContent.module.scss"
---

<div class={styles.wrapper}>
  <h1>Politique de confidentialité</h1>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dignissim
    volutpat urna, et commodo odio finibus ac. Mauris ultricies risus vel elit
    mollis, a lobortis ex fringilla. Cras vulputate pretium magna ac finibus.
    Phasellus finibus felis interdum, commodo sem id, eleifend metus. Nunc
    ultricies sagittis eros sit amet viverra. Donec porta rhoncus sollicitudin.
    Proin eget elit a risus imperdiet elementum. Phasellus quis vestibulum
    neque. Pellentesque eu tellus libero. Nulla ex libero, venenatis non
    bibendum vitae, fermentum vel felis. Aenean mollis diam et lorem interdum,
    ut auctor nunc luctus. Nulla facilisi. Nam vestibulum quam quis venenatis
    iaculis. Etiam pulvinar justo elit, at accumsan nisi pretium eu. Mauris
    hendrerit fermentum nulla. Aenean luctus malesuada elit sit amet congue.
    Aenean placerat enim nibh, vitae congue purus molestie eu. Nunc augue dolor,
    vehicula a felis non, tincidunt aliquam turpis. Integer risus ex, lobortis
    eu magna in, accumsan convallis elit. Aliquam dictum rutrum placerat.
    Curabitur quis dapibus ante. Nulla condimentum purus nisi, cursus cursus
    risus interdum quis. Donec sed velit blandit, fermentum turpis nec,
    pellentesque risus. Proin ac sollicitudin lacus. Praesent nec elit non erat
    maximus lacinia. Sed nec ipsum congue dolor fringilla eleifend. Lorem ipsum
    dolor sit amet, consectetur adipiscing elit. Duis congue, ligula nec
    placerat semper, elit ante sodales eros, vitae sagittis odio diam eu sem.
    Pellentesque ut eros pharetra, accumsan enim in, tempus ipsum. Vestibulum
    nec purus justo. Sed efficitur enim vel dictum dictum. Vivamus egestas
    consectetur interdum. Donec libero urna, eleifend ac ultrices in, porttitor
    eu ipsum. Phasellus mattis arcu sed suscipit varius. Duis malesuada maximus
    ultrices. Vestibulum vitae accumsan turpis. Vestibulum ante ipsum primis in
    faucibus orci luctus et ultrices posuere cubilia curae; In varius velit
    lectus, at lobortis sapien aliquam sit amet. Pellentesque sollicitudin justo
    risus, et accumsan diam gravida sed. Orci varius natoque penatibus et magnis
    dis parturient montes, nascetur ridiculus mus. Sed lorem justo, tincidunt
    sed ante eget, malesuada eleifend mauris. Quisque posuere arcu libero, eget
    aliquet lorem placerat non. Donec sem est, bibendum ut ex sit amet, posuere
    finibus mi. Nam mauris ante, imperdiet vitae tincidunt sit amet, sagittis
    malesuada enim. Cras sit amet orci blandit, congue nisi vel, eleifend orci.
    Nulla sed luctus massa, non dapibus lorem. Sed consequat, magna in mollis
    condimentum, diam mauris iaculis nisi, in facilisis ipsum lacus in erat.
    Nunc et faucibus lacus. Morbi a congue sem. Donec rutrum tincidunt turpis a
    cursus. Curabitur bibendum justo at consectetur viverra. Duis pulvinar purus
    consequat metus fermentum euismod. Maecenas dictum laoreet luctus. Cras ut
    risus eu tortor aliquet auctor. In posuere turpis non dapibus cursus. In
    vitae sem aliquet, pretium nulla ac, vulputate enim. In facilisis eros non
    sem consequat, et scelerisque enim accumsan. Suspendisse ut pulvinar dui,
    quis tempus dolor. Ut neque purus, ultricies eu scelerisque vitae, lacinia
    vitae leo. Integer pretium quam lacinia neque sodales finibus. Mauris
    blandit ipsum convallis nisl porttitor sagittis. Morbi molestie sit amet
    urna quis fermentum. Suspendisse efficitur, mi sed euismod ullamcorper,
    magna turpis egestas risus, et pharetra ligula sapien a lacus. Orci varius
    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    Curabitur quis sem vel tortor laoreet mattis vel vitae nisl. Donec tincidunt
    rutrum urna eget convallis. Nullam diam sapien, maximus eu luctus nec,
    ornare sit amet magna.
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dignissim
    volutpat urna, et commodo odio finibus ac. Mauris ultricies risus vel elit
    mollis, a lobortis ex fringilla. Cras vulputate pretium magna ac finibus.
    Phasellus finibus felis interdum, commodo sem id, eleifend metus. Nunc
    ultricies sagittis eros sit amet viverra. Donec porta rhoncus sollicitudin.
    Proin eget elit a risus imperdiet elementum. Phasellus quis vestibulum
    neque. Pellentesque eu tellus libero. Nulla ex libero, venenatis non
    bibendum vitae, fermentum vel felis. Aenean mollis diam et lorem interdum,
    ut auctor nunc luctus. Nulla facilisi. Nam vestibulum quam quis venenatis
    iaculis. Etiam pulvinar justo elit, at accumsan nisi pretium eu. Mauris
    hendrerit fermentum nulla. Aenean luctus malesuada elit sit amet congue.
    Aenean placerat enim nibh, vitae congue purus molestie eu. Nunc augue dolor,
    vehicula a felis non, tincidunt aliquam turpis. Integer risus ex, lobortis
    eu magna in, accumsan convallis elit. Aliquam dictum rutrum placerat.
    Curabitur quis dapibus ante. Nulla condimentum purus nisi, cursus cursus
    risus interdum quis. Donec sed velit blandit, fermentum turpis nec,
    pellentesque risus. Proin ac sollicitudin lacus. Praesent nec elit non erat
    maximus lacinia. Sed nec ipsum congue dolor fringilla eleifend. Lorem ipsum
    dolor sit amet, consectetur adipiscing elit. Duis congue, ligula nec
    placerat semper, elit ante sodales eros, vitae sagittis odio diam eu sem.
    Pellentesque ut eros pharetra, accumsan enim in, tempus ipsum. Vestibulum
    nec purus justo. Sed efficitur enim vel dictum dictum. Vivamus egestas
    consectetur interdum. Donec libero urna, eleifend ac ultrices in, porttitor
    eu ipsum. Phasellus mattis arcu sed suscipit varius. Duis malesuada maximus
    ultrices. Vestibulum vitae accumsan turpis. Vestibulum ante ipsum primis in
    faucibus orci luctus et ultrices posuere cubilia curae; In varius velit
    lectus, at lobortis sapien aliquam sit amet. Pellentesque sollicitudin justo
    risus, et accumsan diam gravida sed. Orci varius natoque penatibus et magnis
    dis parturient montes, nascetur ridiculus mus. Sed lorem justo, tincidunt
    sed ante eget, malesuada eleifend mauris. Quisque posuere arcu libero, eget
    aliquet lorem placerat non. Donec sem est, bibendum ut ex sit amet, posuere
    finibus mi. Nam mauris ante, imperdiet vitae tincidunt sit amet, sagittis
    malesuada enim. Cras sit amet orci blandit, congue nisi vel, eleifend orci.
    Nulla sed luctus massa, non dapibus lorem. Sed consequat, magna in mollis
    condimentum, diam mauris iaculis nisi, in facilisis ipsum lacus in erat.
    Nunc et faucibus lacus. Morbi a congue sem. Donec rutrum tincidunt turpis a
    cursus. Curabitur bibendum justo at consectetur viverra. Duis pulvinar purus
    consequat metus fermentum euismod. Maecenas dictum laoreet luctus. Cras ut
    risus eu tortor aliquet auctor. In posuere turpis non dapibus cursus. In
    vitae sem aliquet, pretium nulla ac, vulputate enim. In facilisis eros non
    sem consequat, et scelerisque enim accumsan. Suspendisse ut pulvinar dui,
    quis tempus dolor. Ut neque purus, ultricies eu scelerisque vitae, lacinia
    vitae leo. Integer pretium quam lacinia neque sodales finibus. Mauris
    blandit ipsum convallis nisl porttitor sagittis. Morbi molestie sit amet
    urna quis fermentum. Suspendisse efficitur, mi sed euismod ullamcorper,
    magna turpis egestas risus, et pharetra ligula sapien a lacus. Orci varius
    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    Curabitur quis sem vel tortor laoreet mattis vel vitae nisl. Donec tincidunt
    rutrum urna eget convallis. Nullam diam sapien, maximus eu luctus nec,
    ornare sit amet magna.
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dignissim
    volutpat urna, et commodo odio finibus ac. Mauris ultricies risus vel elit
    mollis, a lobortis ex fringilla. Cras vulputate pretium magna ac finibus.
    Phasellus finibus felis interdum, commodo sem id, eleifend metus. Nunc
    ultricies sagittis eros sit amet viverra. Donec porta rhoncus sollicitudin.
    Proin eget elit a risus imperdiet elementum. Phasellus quis vestibulum
    neque. Pellentesque eu tellus libero. Nulla ex libero, venenatis non
    bibendum vitae, fermentum vel felis. Aenean mollis diam et lorem interdum,
    ut auctor nunc luctus. Nulla facilisi. Nam vestibulum quam quis venenatis
    iaculis. Etiam pulvinar justo elit, at accumsan nisi pretium eu. Mauris
    hendrerit fermentum nulla. Aenean luctus malesuada elit sit amet congue.
    Aenean placerat enim nibh, vitae congue purus molestie eu. Nunc augue dolor,
    vehicula a felis non, tincidunt aliquam turpis. Integer risus ex, lobortis
    eu magna in, accumsan convallis elit. Aliquam dictum rutrum placerat.
    Curabitur quis dapibus ante. Nulla condimentum purus nisi, cursus cursus
    risus interdum quis. Donec sed velit blandit, fermentum turpis nec,
    pellentesque risus. Proin ac sollicitudin lacus. Praesent nec elit non erat
    maximus lacinia. Sed nec ipsum congue dolor fringilla eleifend. Lorem ipsum
    dolor sit amet, consectetur adipiscing elit. Duis congue, ligula nec
    placerat semper, elit ante sodales eros, vitae sagittis odio diam eu sem.
    Pellentesque ut eros pharetra, accumsan enim in, tempus ipsum. Vestibulum
    nec purus justo. Sed efficitur enim vel dictum dictum. Vivamus egestas
    consectetur interdum. Donec libero urna, eleifend ac ultrices in, porttitor
    eu ipsum. Phasellus mattis arcu sed suscipit varius. Duis malesuada maximus
    ultrices. Vestibulum vitae accumsan turpis. Vestibulum ante ipsum primis in
    faucibus orci luctus et ultrices posuere cubilia curae; In varius velit
    lectus, at lobortis sapien aliquam sit amet. Pellentesque sollicitudin justo
    risus, et accumsan diam gravida sed. Orci varius natoque penatibus et magnis
    dis parturient montes, nascetur ridiculus mus. Sed lorem justo, tincidunt
    sed ante eget, malesuada eleifend mauris. Quisque posuere arcu libero, eget
    aliquet lorem placerat non. Donec sem est, bibendum ut ex sit amet, posuere
    finibus mi. Nam mauris ante, imperdiet vitae tincidunt sit amet, sagittis
    malesuada enim. Cras sit amet orci blandit, congue nisi vel, eleifend orci.
    Nulla sed luctus massa, non dapibus lorem. Sed consequat, magna in mollis
    condimentum, diam mauris iaculis nisi, in facilisis ipsum lacus in erat.
    Nunc et faucibus lacus. Morbi a congue sem. Donec rutrum tincidunt turpis a
    cursus. Curabitur bibendum justo at consectetur viverra. Duis pulvinar purus
    consequat metus fermentum euismod. Maecenas dictum laoreet luctus. Cras ut
    risus eu tortor aliquet auctor. In posuere turpis non dapibus cursus. In
    vitae sem aliquet, pretium nulla ac, vulputate enim. In facilisis eros non
    sem consequat, et scelerisque enim accumsan. Suspendisse ut pulvinar dui,
    quis tempus dolor. Ut neque purus, ultricies eu scelerisque vitae, lacinia
    vitae leo. Integer pretium quam lacinia neque sodales finibus. Mauris
    blandit ipsum convallis nisl porttitor sagittis. Morbi molestie sit amet
    urna quis fermentum. Suspendisse efficitur, mi sed euismod ullamcorper,
    magna turpis egestas risus, et pharetra ligula sapien a lacus. Orci varius
    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    Curabitur quis sem vel tortor laoreet mattis vel vitae nisl. Donec tincidunt
    rutrum urna eget convallis. Nullam diam sapien, maximus eu luctus nec,
    ornare sit amet magna.
  </p>
</div>
